.telaLoginJogador{
    background-color: #171738;
    width:100vw;  
    height: 100vh;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.telaLoginJogador input{
    background-color: gray;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    color: #171738;

    
}

.entrar{
    display: flex;
    gap: 10px;

}
h1{
    color: #6565ac;
    font-size: 40px;
    font-weight: bold;
   
}
.codigoSala{
    width: 160px;


}
.buttonEntrar{
    background-color: #db5461;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    
}
img {
    padding: 10px;
}