.jogador{
    display: flex;
    margin: 10px;
    padding: 10px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.jogador p{
    margin: 0 5px;
}