.page {
  width: 100vw;
  height: 100vh;
  background-color: #171738;
}

.telaLoginAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 2px;
}

.input {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 10px;
  padding: 5px;
}

.btn {
  background-color: #06A48A;
  color: white;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  width: 230px;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.link {
  font-size: 12px;
}
