.header {
    background-color: gray;
    width: 100vw;
    height: 6vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 94vh;
    gap: 20px;
}

.buttonsRow {
    display: flex;
    gap: 10px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btnAdd {
    border: 3px solid black;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGreen {
    background-color: #08D1B0;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.btnPurple {
    background-color: #593C90;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
