.background {
  width: 100vw;
  height: 100vh;
  background-color: #171738;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  position: fixed;
  top: 0;
  left: 0;

  background-image: linear-gradient(135deg, #242453 25%, #171738 25%, #171738 50%, #242453 50%, #242453 75%, #171738 75%, #171738 100%);
  background-size: 400px 400px;
  animation: moveVertical 10s linear infinite;

  z-index: -1;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background: #77BAB7;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(125, 122, 156, 0.3);
}

@keyframes moveVertical {
  from { background-position-y: 0; }
  to { background-position-y: 200px; }
}
