.page {
    width: 100vw;
    height: 100vh;
    background-color: #171738;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Fundo animado como na TelaInicial */
    background-image: linear-gradient(135deg, #242453 25%, #171738 25%, #171738 50%, #242453 50%, #242453 75%, #171738 75%, #171738 100%);
    background-size: 400px 400px;
    animation: moveBg 10s linear infinite;
}

@keyframes moveBg {
    from { background-position-y: 0; }
    to { background-position-y: 200px; }
}

.card {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 40px 60px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

.title {
    font-size: 80px;
    margin: 0;
    font-weight: 700;
}

.subtitle {
    margin-top: -10px;
    font-size: 24px;
    font-weight: 500;
}

.text {
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.85;
}

.button {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #77BAB7;
    border-radius: 10px;
    font-size: 16px;
    color: #171738;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(125, 122, 156, 0.3);
    transition: 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    background-color: #6bb0ad;
}
